<nav class="nav">
  <div class="nav-inner">
    <a class="brand" routerLink="/">SpaceEdu</a>

    <div class="links">
      <a routerLink="/" routerLinkActive="active">Inicio</a>
      <a routerLink="/preguntas" routerLinkActive="active">Preguntas</a>
      <a routerLink="/proposito" routerLinkActive="active">Propósito</a>
      <a routerLink="/quienes-somos" routerLinkActive="active">Quiénes somos</a>
      <a routerLink="/juega" class="cta" routerLinkActive="active">Juega</a>
    </div>
  </div>
</nav>
